 <div class="user-details">
  <h1> My Expertise </h1>
  <p> I worked parttime as a web-developer while studying Geoinformatics in Muenster (Germany).
    I graduated in 2011 with my diploma and started working for con terra GmbH as a Software Engineer. 
    Most of my work was designing and building service oriented geodata infrastructures and web-clients 
    consuming these services. 
    Java and Javascript are my main programming languages, but have checked out things like Python, Groovy etc. </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-vuejs-plain colored"></i>
      <i class="devicon-less-plain-wordmark colored"></i>
      <p></p>
      <ul>
        <li>Javascript</li>
        <li>Java</li>
        <li>VueJS</li>
        <li>LessCSS</li>
        <li>Spring</li>
        <li>Spring Boot</li>
        <li>Dojo</li>
        <li>NodeJS</li>
      </ul>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-babel-plain colored"></i>
      <i class="devicon-intellij-plain colored"></i>
      <i class="devicon-docker-plain colored"></i>
     
      <ul>
        <li>Git</li>
        <li>Babel</li>
        <li>IntelliJ Idea</li>
        <li>Docker</li>
        <li>Maven</li>
        <li>AsciiDoc</li>
        <li>ESLint</li>
      </ul>
    </div>
    <div class="tech">
      <h2>Base Software</h2>
      <i class="devicon-tomcat-line colored"></i>
      <i class="devicon-postgresql-plain  colored"></i>
      <ul>
        <li>Tomcat</li>
        <li>PostgreSQL</li>
        <li>Azure</li>
        <li>ArcGIS Enterprise</li>
      </ul>
     
    </div>
</div>
